body{
 background-color: black;
} 
ul {
  border: none;
  display: flex;
  align-items: start;
  list-style-type: none;
}
ul .logo1{
  padding:15px 0px 15px 20px ;
}
ul .logo2{
  padding:15px 100px 15px 0px;
}

ul .nav {
  padding: 30px 10px ;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;;
  color: black;
  text-align: center;

}
ul .nav a {
  position: relative;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
ul .nav a::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: navy;
  transition: transform 0.5s;
  transform: scaleX(0);
  transform-origin: right;
}
ul .nav a:hover {
  color: navy;
}
ul .nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.app{
  background-color: white;
}

.home {
  background-image: url("./image/globe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 50px 330px 80px;
}
.text{
  width: 50%;
}

 .p1 {
  color: white;
  font-size: 40px;
  word-wrap: normal;
}
 .p2{
  font-size:20px ;
  color: white;
}
/* Discuss Page Style */
.discuss{
  padding: 20px 0px 20px 0px;
  background-image: url(./image/discuss.jpg);
  color: white;
}

.btn-discuss{
  height: 40px;
  width: 180px;
  background-color: rgb(11, 120, 163);
  color: white;
  font-size: 20px;
  box-shadow: none;
}

.btn-discuss:hover{
  background-color: transparent;
  color: white;
  border: 2px solid navy;
}
/* Subscribe Page Style */
.form-inline {
float:right;
background-color: orangered;
}

.form-inline input {
  vertical-align: middle;
  margin: 80px 100px 5px 30px;
  padding: 15px 100px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}

/* Contact Page Style */

.contact{
  background-color: rgb(40,40,40);
  padding: 50px 0px 50px 20px;
  display: flex;
}

.form-contact{
  background-color: black;
  color: gray;
  width:20%;
  margin: 20px 0px 0px 20px;
  padding: 20px;
  border-right: 1px solid white;
  border-radius: 15px 0px 0px 15px;
}

.hr1{
  border: 1px solid gray;
}

.hr2{
  width: 25%;
  margin-left: 5px;
}

.hr3{
  width: 25%;
  margin-left: 1px;
}

.form-about{
  background-color: transparent;
  color: gray;
  width:20%;
  margin: 0px 20px 0px 20px;
  padding: 20px;
}

.aboutButton{
  background-color: transparent;
  border: 1px solid darkgray;
  border-radius: 20px;
  height: 30px;
  width: 120px;
}

.form-sitemap{
  background-color: transparent;
  color: gray;
  width:20%;
  margin: 0px 20px 0px 20px;
  padding: 20px;
}
.sitelink{
text-decoration: none;
color: gray;
}

.form-sitemap2{
  background-color: transparent;
  color: gray;
  width:20%;
  margin: 85px 10px 0px 0px;
  padding: 20px 0px 20px 0px;
}

.form-social{
  background-color: transparent;
  color: gray;
  width:20%;
  margin: 0px 50px 0px 0px;
  padding: 20px;
}

.social{
  height: 50px;
  width: 50px;
  padding: 5px;
}

/* Footer Style */
.footer{
  background-color: rgb(72,72,72);
  padding: 1px;
  color: gray;
  font-size: 15px;
  display: flex;
}

.footer a{
  text-decoration: none;
  color: gray;
}
.footer a:hover{
  color: navy;
}
.footer-item1{
  width: 50%;
}

.footer-item2{
  width: 50%;
  padding: 0px 0px 0px 450px ;
}